@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Login";
}


<h1>Login page</h1>
Username: <input type="text" /><br />
Password: <input type="text" /><br />

<a href="#">@Html.ActionLink("Create New Account", "Create", "Login")</a>