@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    1303 Barlcay Court<br />
    Randolph NJ 07869<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@aiproject.com">Support@aiproject.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@aiproject.com">Marketing@aiproject.com</a>
</address>